<div class="registration-page">
    <div class="registration">
      <form action="/room-listing/updateRooms/{{_id}}?method=PUT" method="POST">

        <h3>Edit Room Information</h3>
         <hr>
        <label class="U-label">Room Title</label>
        <input type="text" class="update-label" placeholder="Enter title" name="title" value="{{title}}">
        <br>

        <label  class="U-label">Price</label>
        <input type="number"class="update-label" placeholder="Enter price" id="room_prc" name="price" value="{{price}}">
        <br>

        <label  class="U-label">Room Description</label>
        <input type="text" class="update-label" placeholder="Enter Description" id="room_dsc" name="description" value="{{description}}">  
        <br>
    
        <label  class="U-label">Location</label>
        <input type="text" class="update-label" placeholder="Enter Location" id="room_lcn" name="location" value="{{location}}">
        <br>

                
        <label  class="U-label">File Upload</label>
        <input type="file" class="update-label" name="roomImage" > <br><br>

        <button type="submit" class="button"> ADD ROOM </button> 

        </form>
    </div>
</div>
    
